@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 10% 20%;
    
    --primary: 28 93% 61%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 28 97% 70%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 33 89% 92%;
    --muted-foreground: 0 0% 40%;
    
    --accent: 33 93% 82%;
    --accent-foreground: 20 10% 20%;
    
    --border: 33 93% 82%;
    --input: 33 93% 82%;
    
    --ring: 28 93% 61%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}